
<div class=''>

  <div class='row  justify-content-center align-items-center'>
    <div class='col-lg-4 '>
      <div class="card text-center">
        <div class="card-header bg-primary text-white">
          <h4>تسجيل الدخول</h4>
        </div>

        <div class="card-body">
          <div class='form-control' >

            <%= form_for @user, url: sign_in_path do |form| %>

              <div class='m-3'>
                <%= form.text_field :email ,required:true, placeholder:'البريد الالكتروني' ,class:'form-control' %>
              </div>

              <div class='m-3'>
                <%= form.password_field :password,required:true , placeholder:'كلمة المرور' ,class:'form-control' %>
              </div>

              <div class='m-3'>
                <%= form.submit 'دخول' , class: 'btn btn-primary' %>
              </div>

            <%end%>


          </div>
        </div>
        <div class="card-footer text-muted">
          كرمة&copy; 2021-2024 
        </div>
      </div>

    </div>
  </div>
</div>

